@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.submit {
  position: absolute;
  top: 0;
}

.initial-message {
  margin-top: 100px;
  text-align: center;
  color: #4e4e4e;
  font-size: 50px;

}

.info-panel {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 300px;
  height: 300px;
  padding: 5px;
  border: solid;
  border-radius: 5px;
}

.node__root>circle {
  fill: blue;
  r:20
}

.node__branch>circle {
  fill: yellow;
  r:15;
}

.node__leaf>circle {
  fill: green;
  /* Let's also make the radius of leaf nodes larger */
  r:10;
}

.activeNode {
  font-size: 50px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #4e4e4e;
    background: black;
  }

  .rd3t-link {
    stroke: white !important;
  }
  .rd3t-label__title {
    fill: white !important;
  }
  .rd3t-node, .rd3t-leaf-node {
    stroke: white !important;
  }
}
